root=true

[*.{cs,fsx}]
indent_style=space
indent_size=4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{sln,spec}]
indent_style=tab
indent_size=4

[*.{xml,sh,cmd,yml,csproj}]
indent_style=space
indent_size=2
