image:
  - Visual Studio 2022
# FIXME: At some point we want to test our builds on Ubuntu?
#  - Ubuntu

version: 5.0.0.{build}

clone_depth: 1 # we only care about the commit we are building

# 9.0.104 has broken overload resolution, see: https://github.com/dotnet/roslyn/issues/75871
# So we need to download 9.0.304 which fixes this.
# - Noggin_bops 2025-10-07
install:
- ps: |
    Invoke-WebRequest -Uri 'https://dot.net/v1/dotnet-install.ps1' -UseBasicParsing -OutFile "$env:temp\dotnet-install.ps1"
    & $env:temp\dotnet-install.ps1 -Architecture x64 -Version '9.0.304' -InstallDir "$env:ProgramFiles\dotnet"
before_build:
  - cmd: dotnet --version

nuget:
  project_feed: true

deploy:
  - provider: NuGet
    symbol_server: https://ci.appveyor.com/nuget/opentk-ewqv6ys6uxum/api/v2/package
    api_key:
      secure: Rh0peS8dmnflnHfB5kTlsqsR1rmibtpZ2oeaWFH90iQ=
    artifact: bin/nuget/*.nupkg

artifacts:
  - path: bin/nuget/*.nupkg
    name: OpenTK Nuget Packages

init:
  - git config --global core.autocrlf input

configuration: Release

build_script:
  - ps: ./build.ps1 RunCITests
