source https://nuget.org/api/v2

#Open packages

nuget FSharp.Formatting
nuget FsCheck
nuget FsCheck.Xunit
nuget xunit.runner.console
nuget xunit.assert
nuget FAKE
nuget Mono.Cecil >= 0.10.0-beta1
nuget GtkSharp
