source https://nuget.org/api/v2

#Open packages

nuget CommandLineParser >= 2.1.1-beta
nuget FSharp.Formatting
nuget FsCheck
nuget FsCheck.Xunit
nuget StyleCop.Analyzers
nuget xunit 2.2.0 restriction: >= net452
nuget xunit.abstractions 2.0.1 restriction: >= net452
nuget xunit.extensibility.core 2.2.0 restriction: >= net452
nuget xunit.extensibility.execution 2.2.0 restriction: >= net452
nuget xunit.runner.console
nuget xunit.core 2.2.0 restriction: >= net452
nuget xunit.assert 2.2.0 restriction: >= net452
nuget FAKE
nuget Mono.Cecil >= 0.10.0-beta6
nuget gtk-sharp3
