<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenTK.OpenGL.Bind.Properties.Bind" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Bind.Properties.Bind" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OpenTK.Bind.Properties.Bind" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OpenTK.OpenGL.Bind.Properties.Bind>
            <setting name="OutputGLClass" serializeAs="String">
                <value>GL</value>
            </setting>
            <setting name="OutputNamespace" serializeAs="String">
                <value>OpenTK.OpenGL</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value>..\..\Source\OpenGL\OpenGL\Bindings</value>
            </setting>
            <setting name="InputPath" serializeAs="String">
                <value>..\..\Specifications</value>
            </setting>
            <setting name="OutputPlatformNamespace" serializeAs="String">
                <value>Platform</value>
            </setting>
            <setting name="WriteInternalImportsClass" serializeAs="String">
                <value>Imports</value>
            </setting>
            <setting name="OutputEnumsClass" serializeAs="String">
                <value>Enums</value>
            </setting>
            <setting name="OutputContextClass" serializeAs="String">
                <value>Context</value>
            </setting>
        </OpenTK.OpenGL.Bind.Properties.Bind>
        <Bind.Properties.Bind>
            <setting name="OutputGLClass" serializeAs="String">
                <value>GL</value>
            </setting>
            <setting name="OutputNamespace" serializeAs="String">
                <value>OpenTK.OpenGL</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value>..\..\Source\OpenTK\OpenGL\Bindings</value>
            </setting>
            <setting name="InputPath" serializeAs="String">
                <value>..\..\..\Input</value>
            </setting>
            <setting name="OutputPlatformNamespace" serializeAs="String">
                <value>Platform</value>
            </setting>
            <setting name="WriteInternalImportsClass" serializeAs="String">
                <value>Imports</value>
            </setting>
            <setting name="InputSpecFilesPath" serializeAs="String">
                <value>..\..\Specifications</value>
            </setting>
            <setting name="OutputEnumsClass" serializeAs="String">
                <value>Enums</value>
            </setting>
            <setting name="OutputContextClass" serializeAs="String">
                <value>Context</value>
            </setting>
        </Bind.Properties.Bind>
        <OpenTK.Bind.Properties.Bind>
            <setting name="OutputGLClass" serializeAs="String">
                <value>GL</value>
            </setting>
            <setting name="OutputNamespace" serializeAs="String">
                <value>OpenTK.OpenGL</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value>..\..\Source\OpenTK\OpenGL\Bindings</value>
            </setting>
            <setting name="InputPath" serializeAs="String">
                <value>..\..\..\Input</value>
            </setting>
            <setting name="OutputPlatformNamespace" serializeAs="String">
                <value>Platform</value>
            </setting>
            <setting name="WriteInternalImportsClass" serializeAs="String">
                <value>Imports</value>
            </setting>
            <setting name="InputSpecFilesPath" serializeAs="String">
                <value>..\..\Specifications</value>
            </setting>
            <setting name="OutputEnumsClass" serializeAs="String">
                <value>Enums</value>
            </setting>
            <setting name="OutputContextClass" serializeAs="String">
                <value>Context</value>
            </setting>
        </OpenTK.Bind.Properties.Bind>
    </userSettings>
</configuration>